.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

/*romove carousel gradients*/
.carousel-control.left, .carousel-control.right {
    background-image: none;
    color: black;
}
.carousel-indicators {
  bottom:-50px;
}

.carousel-indicators li {
  background-color: #999 !important;
  background-color: rgba(70,70,70,.25) !important;
}

.carousel-indicators .active {
  background-color: #444 !important;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    color: black;
    right: 33%;
}

.galleria-theme-classic {
  background: #fff;
}

.galleria-theme-classic .galleria-thumnails .galleria-img {
  border-color: #fff;
}

.galleria-thumbnails {
  margin: auto;
}
.galleria-theme-classic .galleria-thumbnails .galleria-image {
  border-style: none;
}

.galleria-theme-classic .galleria-info {
  width: 20%;
  top: 10px;
}

.galleria-theme-classic .galleria-info-description {
  font-style : normal;
}

#wrapper {
  height: 100%;
}

html, body {
  height: 100%;
}

/*#index-outer {
  text-align: center;
  height: 100%;
}

#index-inner {
 height: 100%;
 position: relative;
}*/

.center-outer {
  text-align:center;
  height: 100%;
}

.center-inner {
  height: 100%;
  position: relative;
}

.center-inner img {
  max-height: 90%;
  max-width: 90%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.contents-outer {
  margin-left: 20px;
}

.contents-inner {
  margin-top: 40px;
}
