{% load staticfiles %}

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>HAN SANG YOUNG</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->


  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Custom CSS -->
  <!-- <link rel="stylesheet" href="http://ironsummitmedia.github.io/startbootstrap-simple-sidebar/css/simple-sidebar.css"> -->
  <link rel="stylesheet" href="{% static 'archiving/css/archiving.css' %}">
  <link rel="stylesheet" href="{% static 'archiving/css/simple-sidebar.css' %}">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="{% static 'archiving/js/galleria-1.4.2.min.js' %}"></script>
</head>
<body>
  <div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <p><a href="/" style="float: left">
                    HAN SANG YOUNG
                </a>
                <a href="#menu-toggle" id="menu-toggle"><span style="color: white;" class="glyphicon glyphicon-menu-left" aria-hidden="true" id="sidebar-toggle"></span></a>
              </p>
            </li>
            <li>
                <a href="/profile">Profile</a>
            </li>
            <li>
                <a href="/works">난말이야</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->

    <!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a> -->
    <!-- <a href="#menu-toggle" id="menu-toggle"><span style="color: black;" class="glyphicon glyphicon-menu-left" aria-hidden="true" id="sidebar-toggle"></span></a> -->

    {% block content %}
    {% endblock %}

    <!-- /#page-content-wrapper -->
  </div>
  <!-- /#wrapper -->

  <!-- jQuery -->

  <!-- Bootstrap Core JavaScript -->
  <!-- <script src="http://ironsummitmedia.github.io/startbootstrap-simple-sidebar/js/bootstrap.min.js"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <!-- Menu Toggle Script -->
  <script>
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
      $("#sidebar-toggle").toggleClass("toggled");
      $("#sidebar-toggle").toggleClass("glyphicon-menu-left glyphicon-menu-right")
  });
  </script>
</body>
</html>
