{% extends "archiving/base.html" %}
{% load staticfiles %}

{% block content %}
<!-- <div id="page-content-wrapper">
    <div class="containser-fluid">
        <div class="row">
            <div class="col-lg-12">
              <img src="{% static 'archiving/images/난말이야.jpg' %}" width="1000">
            </div>
        </div>
    </div>
</div> -->
<div class="center-outer" id="page-content-wrapper">
  <div class="containser-fluid center-inner">
    <img src="{% static 'archiving/images/index.jpg' %}">
  </div>
</div>
{% endblock %}
