{% extends "archiving/base.html" %}
{% load staticfiles %}

{% block content %}
<div id="page-content-wrapper">
    <div class="containser-fluid">
        <div class="row rfull">
            <div class="col-lg-10 col-lg-offset-1">
              <h1>profile</h1>
              <img id="profileimg" src="{% static 'archiving/images/profileimg.jpeg' %}">

              <p>홍익대학교 미술대학 졸업</p>
              <p>개인전 7회</p>
              <p>한국전업미술가회, 고양미술협회, 일산미술협회, 한국여류수채화가협회 회원</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
